.none {
    list-style-type: none;
}

.SaibaMaisCaixa {
    margin-bottom: 1.27em;
}

.ImportanteCaixa {
    margin-bottom: 1.27em;
}

.AtividadeCaixa {
    margin-bottom: 1.27em;
}

.FiqueAtentoCaixa {
    margin-bottom: 1.27em;
}

.CuriosidadeCaixa {
    margin-bottom: 1.27em;
}

.ExemploCaixa {
    margin-bottom: 1.27em;
}


/* TABELA ADICIONAIS */

.Thteste {
    background: #44833d;
    border: solid 1px #44833d;
    border-bottom: solid 5px #44833d;
    color: white;
    text-align: center;
}

.Tdborda {
    border: solid 1px #44833d;
    text-align: center;
}

/* Fim Tabelas Adicionais */

